.plant {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 70px;
  text-align: center;
  color: white;
  margin: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 3px;
  padding: 1px;
}

.unwatered {
  background-color: rgba(160, 81, 45, 0.5);
}

.watered {
  background-color: rgba(0, 100, 0, 0.5);
}

.rain {
  background-color: darkcyan;
}
